useDynLib(CNPDIA)

importFrom(ReacTran, setup.grid.1D)
importFrom(ReacTran, setup.prop.1D)
importFrom(ReacTran, p.exp)
importFrom(marelac, diffcoeff)
importFrom(plot3D, image2D)
importFrom("graphics", "image", "legend", "mtext", "par", "plot")
importFrom("stats", "approx", "approxfun", "runif")
importFrom("utils", "capture.output")
import(deSolve, rootSolve)
import(shiny)
export(CNPDIA)
export(CNPDIAdyna, CNPDIAperturb)
export(depositLiquid, depositSolid, mixLiquid, mixSolid, erodeLiquid, erodeSolid) 
export(CNPDIAsolve)
export(CNPDIAparms, CNPDIAdepth, CNPDIAdx, CNPDIAbiot, CNPDIAirr, CNPDIApor, CNPDIAgrid)
export(CNPDIA0D, CNPDIA1D, CNPDIAsvar)
export(CNPDIAbudgetC)
export(CNPDIAbudgetN)
export(CNPDIAbudgetP)
export(CNPDIAbudgetO2)
